*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    padding: 0.2rem;
    background-color: blue;
    color: white;
}

h1{
    text-align: center;
    margin: 1rem;
}

ol, li{
    margin: 1rem;
}